<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--ADDING BOOTSTRAP CSS TO THE BASE FOR ALL PAGES TO UTILISE LATER-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">
    <!--ADDING JQUERY TO THE BASE FOR ALL PAGES TO UTILISE LATER-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--ADDING JAVASCRIPT TO THE BASE FOR ALL PAGES TO UTILISE LATER-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block headertags %}
    {% endblock %}
    <title>Genatweetor: generate personalised tweets!</title>
  </head>
  <body>
    {% block banner %}
    {% endblock %}
    {% if responseMessage %}
      <div class="bannerAlert">
        <div id="alert-area" class="alert alert-success alert-dismissible" role="alert"></div>
      </div>
    {% endif %}
    {% block body-content %}
    {% endblock %}
    <script>
      function newAlert (type, message) {
        $("#alert-area").append($("<div class='alert-message " + type + " fade in' data-alert><p> " + message + " </p></div>"));
        $("#alert-area").delay(3500).fadeOut("slow", function () { $(this).remove(); });
      }
      newAlert('success', '<strong>{{ responseMessage }}</strong>');
    </script>
  </body>
</html>
