<!DOCTYPE html>
{% extends 'genatweetor/loggedInBase.html' %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block headertags %}
      <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/dashboard.css'%}">
      <title>Genatweetor: Dashboard</title>
    {% endblock %}
  </head>
  <body>
    {% block body-content %}
        <!-- MAINAPP -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="mainapp">
            <div class="card-row row card-row2 row col-lg-10">
              <div class="profile-card card column">
                <div class="card-body">
                  <h3 class="card-title"> <strong> Your Profile </strong> </h3>
                  <ul class="list-group list-group-flush">
                    <li class="card-text list-group-item">Username: {{ user }}</li>
                    <li class="card-text list-group-item">Name: {{ name }}</li>
                    <li class="card-text list-group-item">Email: {{ email }}</li>
                    <li class="card-text list-group-item">Age: {{ age }}</li>
                    <li class="card-text list-group-item">Date Of Birth: {{ dob }}</li>
                    <li class="card-text list-group-item">Screen Name: {{ screen_name }}</li>
                  </ul>
                </div>
              </div>
              <div class="stats-card card column">
                <div class="card-body">
                  <h3 class="card-title"><strong>Engagement Statistics</strong></h3>
                  <ul class="list-group list-group-flush">
                    <li class="engagementScore card-text list-group-item" id="engagementScore">Average Engagement Score: {{engagementScore}} </li>
                    <li class="retweetScore card-text list-group-item" id="retweetScore">Average Retweet Score: {{retweetScore}} </li>
                    <li class="favouriteScore card-text list-group-item" id="favouriteScore">Average Favourite Score: {{favouriteScore}}</li>
                    <li class="KmeansScore card-text list-group-item" id="KmeansScore">K means Score: {{kmeans}}</li>
                    <li class="silhouetteScore card-text list-group-item" id="silhouetteScore">Silhouette Score: {{silhouetteScore}}</li>
                    <div class="append list-group-item"></div>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </main>

    {% endblock %}
    {% block script-tags %}
    {% endblock %}
  </body>
</html>
