<!DOCTYPE html>
{% extends 'genatweetor/base.html' %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block headertags %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/login.css'%}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    {% endblock %}
  </head>
  <body>
    {% block body-content %}

      <div class="logo">
        <img src="{% static 'backgroundImages/Genatweetor_Logo.png' %}">
      </div>

        <div class="login">
          <div class="heading">
            <h2 style="text-align:center;">Login</h2>
            <form action="{% url 'genatweetor:login' %}" method="post" class="loginForm">
              {% csrf_token %}
              <div id="input" class="input-group input-group-lg">
                <span class="input-group-addon" style="width:10%;"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="form-username" placeholder="Username" style="height:100%">
              </div>
              <br>
              <div id="input" class="input-group input-group-lg">
                <span class="input-group-addon" style="width:10%;"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="form-password" placeholder="Password" style="height:100%">
              </div>
              <br>
              <button type="submit" class="float">Login</button>
            </form>
 		       </div>
           <p>
             <span onclick="transitionToPage('{% url 'genatweetor:registerUser' %}')">
               <strong>
                 Haven't Got an Account? Register Here!
               </strong>
             </span>
           </p>
         </div>
         <script>

          window.transitionToPage = function(href) {
            document.querySelector('body').style.opacity = 0
            setTimeout(function() {
              window.location.href = href
             }, 500)
           }

           document.addEventListener('DOMContentLoaded', function(event) {
             document.querySelector('body').style.opacity = 1
           })
         </script>
    {% endblock %}
  </body>
</html>
