<!DOCTYPE html>
{% extends 'genatweetor/base.html' %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block headertags %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/register.css'%}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    {% endblock %}
  </head>
  <body>
    {% block body-content %}

      <div class="logo">
        <img src="{% static 'backgroundImages/Genatweetor_Logo.png' %}">
      </div>

    {% endblock %}
  </body>
</html>
